#map {
  height: 80vh;
  width: 100%;
}
.controls {
  padding: 10px;
  background: #f9f9f9;
}

#summary {
  padding: 15px;
  font-family: sans-serif;
}
#summary table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
}
#summary th,
#summary td {
  border: 1px solid #aaa;
  padding: 5px;
  text-align: center;
}
#summary th {
  background-color: #eee;
}
