/* Code by Ayu Agustina - Juni 2025 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
nav {
  margin: auto;
  text-align: center;
  align-items: center;
}
#map {
  height: 70vh;
  position: relative;
}
.controls {
  padding: 10px;
}

#summary {
  border-collapse: collapse;
  margin-top: 10px;
  height: auto;
  overflow-y: auto;
  overflow-x: scroll;
}
#summary th,
#summary td {
  border: 1px solid #aaa;
  padding: 5px;
  text-align: center;
}

#legend {
  position: absolute;
  /* position: relative; */
  bottom: 5px;
  left: 5px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  max-height: 150px;
  width: 200px;
  overflow-y: auto;
  overflow-x: scroll;
  line-height: 1.4em;
  z-index: 1000;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

footer a {
  color: #fff;
}
